<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-book-heading">Create or edit a Book</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_isbn">Isbn</label>
                    <input type="text" class="form-control" name="isbn" id="field_isbn"
                           formControlName="isbn"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_pageCount">Page Count</label>
                    <input type="number" class="form-control" name="pageCount" id="field_pageCount"
                           formControlName="pageCount"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_processed">Processed</label>
                    <input type="checkbox" class="form-control" name="processed" id="field_processed"
                           formControlName="processed"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_content">Content</label>
                    <select class="form-control" id="field_content" name="content" formControlName="contentId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="bookContentOption.id" *ngFor="let bookContentOption of contents; trackBy: trackById">{{ bookContentOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
